In [57]:
import pandas as pd
import numpy as np

In [58]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['ratings.csv.gz', 'title_basics.csv.gz', 'title_aka.csv.gz']

In [59]:
#basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
#basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [60]:
#basics.head()

In [61]:
## Save current dataframe to file.
#basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [62]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [63]:
#title_aka_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
#title_aka = pd.read_csv(title_aka_url,sep='\t', low_memory=False)
#title_aka.head()

In [64]:
#ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
#ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)
#ratings.head()

In [65]:
## Save current dataframe to file.
#ratings.to_csv("Data/ratings.csv.gz",compression='gzip',index=False)

## Save current dataframe to file.
#title_aka.to_csv("Data/title_aka.csv.gz",compression='gzip',index=False)

In [66]:
ratings = pd.read_csv("Data/ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1899
1  tt0000002            5.9       254
2  tt0000003            6.5      1692
3  tt0000004            5.7       166
4  tt0000005            6.2      2509

In [67]:
title_aka = pd.read_csv("Data/title_aka.csv.gz", low_memory = False)
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

Replace "\N" with np.nan

In [68]:
basics = basics.replace({'\\N':np.nan})

In [69]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

Exclude any movie with missing values for genre or runtime

In [70]:
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace=True)

Include only full-length movies (titleType = "movie").

In [71]:
basics=basics[basics['titleType'].str.contains('movie') == True]

Include only fictional movies (not from documentary genre)

In [72]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

Include only movies that were released 2000 - 2021 (include 2000 and 2021)

In [73]:
basics=basics[basics['startYear'] >= '2000']

Title AKA's
Replace "\N" with np.nan

In [74]:
title_aka = title_aka.replace({'\\N':np.nan})

Keep only movies released in US

In [75]:
title_aka = title_aka[title_aka['region'] == 'US']

In [76]:
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [77]:
keepers =basics['tconst'].isin(title_aka['titleId'])
keepers

34790       True
61077       True
67620       True
77915      False
86752       True
           ...
9094781     True
9094790     True
9094829    False
9094874     True
9094958    False
Name: tconst, Length: 141536, dtype: bool

In [78]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61077,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67620,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86752,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91021,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
9094245,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9094641,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9094781,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9094790,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9094874,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [79]:
title_aka.region.value_counts()

US    1336939
Name: region, dtype: int64

In [80]:
ratings = ratings.replace({'\\N':np.nan})

In [81]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81957 entries, 34790 to 9094874
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81957 non-null  object
 1   titleType       81957 non-null  object
 2   primaryTitle    81957 non-null  object
 3   originalTitle   81957 non-null  object
 4   isAdult         81957 non-null  object
 5   startYear       81957 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  81957 non-null  object
 8   genres          81957 non-null  object
dtypes: object(9)
memory usage: 6.3+ MB

In [82]:
title_aka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1336939 entries, 5 to 32626647
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1336939 non-null  object
 1   ordering         1336939 non-null  int64
 2   title            1336939 non-null  object
 3   region           1336939 non-null  object
 4   language         3637 non-null     object
 5   types            963203 non-null   object
 6   attributes       44509 non-null    object
 7   isOriginalTitle  1335564 non-null  object
dtypes: int64(1), object(7)
memory usage: 91.8+ MB

In [83]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251200 entries, 0 to 1251199
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1251200 non-null  object
 1   averageRating  1251200 non-null  float64
 2   numVotes       1251200 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB