In [1]:
import pandas as pd
import numpy as np

In [2]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.DS_Store',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'ratings.csv.gz',
 'title_basics.csv.gz',
 'title_aka.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints']

In [3]:
#basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
#basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [5]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [6]:
#title_aka_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
#title_aka = pd.read_csv(title_aka_url,sep='\t', low_memory=False)
#title_aka.head()

In [7]:
#ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
#ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)
#ratings.head()

In [8]:
ratings = pd.read_csv("Data/ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1899
1  tt0000002            5.9       254
2  tt0000003            6.5      1692
3  tt0000004            5.7       166
4  tt0000005            6.2      2509

In [9]:
title_aka = pd.read_csv("Data/title_aka.csv.gz", low_memory = False)
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [10]:
## Save current dataframe to file.
ratings.to_csv("Data/ratings.csv.gz",compression='gzip',index=False)

## Save current dataframe to file.
title_aka.to_csv("Data/title_aka.csv.gz",compression='gzip',index=False)

Replace "\N" with np.nan

In [11]:
basics = basics.replace({'\\N':np.nan})

In [12]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

Exclude any movie with missing values for genre or runtime

In [13]:
basics.dropna(subset = ['runtimeMinutes', 'genres'], inplace=True)

Include only full-length movies (titleType = "movie").

In [14]:
basics=basics[basics['titleType'].str.contains('movie') == True]

Include only fictional movies (not from documentary genre)

In [15]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

Include only movies that were released 2000 - 2021 (include 2000 and 2021)

In [16]:
basics=basics[basics['startYear'] >= 1999]

Title AKA's
Replace "\N" with np.nan

In [17]:
title_aka = title_aka.replace({'\\N':np.nan})

Keep only movies released in US

In [18]:
title_aka = title_aka[title_aka['region'] == 'US']

In [19]:
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [20]:
keepers =basics['tconst'].isin(title_aka['titleId'])
keepers

0        True
1        True
2        True
3        True
4        True
         ...
81952    True
81953    True
81954    True
81955    True
81956    True
Name: tconst, Length: 81957, dtype: bool

In [21]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
81952,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
81953,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
81954,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
81955,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
81956,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [22]:
title_aka.region.value_counts()

US    1336939
Name: region, dtype: int64

In [23]:
ratings = ratings.replace({'\\N':np.nan})

In [24]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81957 entries, 0 to 81956
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81957 non-null  object
 1   titleType       81957 non-null  object
 2   primaryTitle    81957 non-null  object
 3   originalTitle   81957 non-null  object
 4   isAdult         81957 non-null  int64
 5   startYear       81957 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81957 non-null  int64
 8   genres          81957 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.3+ MB

In [25]:
title_aka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1336939 entries, 0 to 1336938
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1336939 non-null  object
 1   ordering         1336939 non-null  int64
 2   title            1336939 non-null  object
 3   region           1336939 non-null  object
 4   language         3637 non-null     object
 5   types            963203 non-null   object
 6   attributes       44509 non-null    object
 7   isOriginalTitle  1335564 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 91.8+ MB

In [26]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251200 entries, 0 to 1251199
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1251200 non-null  object
 1   averageRating  1251200 non-null  float64
 2   numVotes       1251200 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB

### Part 2- Extract from TMDB

In [27]:
import json
from tqdm.notebook import tqdm_notebook
import tmdbsimple as tmdb
import os, time

with open('/Users/lauradimaria/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [28]:
#TMDB api key
tmdb.API_KEY =  login['api-key']

In [29]:
#Function to add certification to dataset
def movie_with_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            info['certification'] = c['certification']
    return[info]

In [30]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.DS_Store',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'ratings.csv.gz',
 'title_basics.csv.gz',
 'title_aka.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints']

In [31]:
YEARS_TO_GET = [2000,2001]

In [32]:
def write_json(new_data, filename): 
        """Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""    
    
        with open(filename,'r+') as file:
            file_data = json.load(file)
            if (type(new_data) == list) & (type(file_data) == list):
                file_data.extend(new_data)
            else:
                 file_data.append(new_data)
        
            file.seek(0)
            json.dump(file_data, file)

In [36]:
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    if file_exists == False:
            with open(JSON_FILE,'w') as f:
                json.dump([{'imdb_id':0}],f)
    df = basics.loc[ basics['startYear']==YEAR].copy()
    movie_ids = df['tconst'].copy()
    previous_df = pd.read_json(JSON_FILE)
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
            try:
                temp = movie_with_rating(movie_id)  
                write_json(temp,JSON_FILE)
                time.sleep(0.02)
            except Exception as e:
                continue
            
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/1409 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/242 [00:00<?, ?it/s]

In [ ]:
tmdb_results_2000 = pd.read_csv('/Users/lauradimaria/Desktop/GitHub/CD--Project-3-IMDB-/Data/final_tmdb_data_2000.csv.gz')
tmdb_results_2000.head()

In [ ]:
tmdb_results_2001 = pd.read_csv('/Users/lauradimaria/Desktop/GitHub/CD--Project-3-IMDB-/Data/final_tmdb_data_2001.csv.gz')
tmdb_results_2001.head()